.content {
    margin: auto 100px;
    float: left;
}

.button1 {
    width: 100px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.nav {
    line-height: 22px;
    height: 100px;
    background-color: white;
}

.navbold {
    font-weight: 500;
}

.a {
    font-family: Nunito;
    font-weight: 500;
    padding: 15px;
    display: inline-block;
    color: gray;
    text-decoration: none !important;
    
}

.a:hover {
    color: black;
}

.a:focus {
    color: black;
    font-weight: 600;
}